
body {
  font-family: "Open Sans", sans-serif;
  background-color: lightgray; 
  color: black;
 
}

.container {
  background-color: #ffffff;
  padding: 40px;
 
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

/* ===== IMAGE ===== */
img {
  border-radius: 10px;
}
.video-center {
    display: flex;
    justify-content: center;
}

.video-center video {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}
